:root {
    --primaryColor: #FEF3E2;
    --secondaryColor: #606676;
    --tertiaryColor: #BEC6A0;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--primaryColor);
}

.container {
    margin-inline: auto;
    max-width: 600px;
}

h1 {
    font: 600;
    color: var(--secondaryColor);
}

p {
    color: var(--secondaryColor);
    margin-bottom: 3rem;
}

a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    padding: 0.75rem 1.25rem;
    border: 2px solid var(--secondaryColor);
    border-radius: 2rem;
    cursor: pointer;
    margin-inline: auto;
    margin-bottom: 20px;
    max-width: 200px;
    display: flex;
    align-items: center;
    flex-direction:column;
}

a:hover {
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    text-decoration: none;
}

a:link { 
    text-decoration: none; 
  } 
a:visited { 
    text-decoration: none; 
  } 

a:active { 
    text-decoration: none; 
  }